@media projection, screen { .ui-tabs-hide { display:none; } }
@media print { .ui-tabs-nav { display: none; } }

.flora .ui-tabs-nav,
.flora.ui-tabs-nav {
  padding-left:10px;
  float:left;
  width:98%;
  border-bottom:1px solid #FFF;
  margin:0;
}
.flora .ui-tabs-nav li,
.flora.ui-tabs-nav li {
  list-style:none;
  float:left;
 }
.flora .ui-tabs-nav a,
.flora.ui-tabs-nav a {
  background:url(i/tabs.gif) no-repeat left 4px;
  display:block;
  height:27px;
  padding:0 0 0 4px;
  text-decoration:none!important;
  margin:1px 5px -2px 0;
  font:9pt Verdana;
  outline:none;
}
.flora .ui-tabs-nav span,
.flora.ui-tabs-nav span {
  background:url(i/tabs.gif) no-repeat right 4px;
  display:block;
  height:27px;
  line-height:29px;
  padding:0px 13px 0 10px;
  margin-right:-3px;
  color:#FFF;
}
.flora .ui-tabs-nav .ui-tabs-selected a,
.flora.ui-tabs-nav .ui-tabs-selected a {
  background-position:left -23px;
}
.flora .ui-tabs-nav .ui-tabs-selected a span,
.flora.ui-tabs-nav .ui-tabs-selected a span {
  background-position:right -23px;
  margin-bottom:0;
  cursor:default;
  }
.flora .ui-tabs-nav .ui-tabs-disabled a,
.flora .ui-tabs-nav .ui-tabs-disabled a span,
.flora.ui-tabs-nav .ui-tabs-disabled a,
.flora.ui-tabs-nav .ui-tabs-disabled a span {
  color:#000;
  opacity:0.4;
  filter:alpha(opacity=40);
  cursor:default;
}
.flora .ui-tabs-container,
.flora.ui-tabs-container {
  background:#FFF;
  border:1px solid #519E2D;
  clear:left;
  padding:10px 10px 8px 10px;
  *padding-top:3px;
  *margin-top:-24px;
}

